@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primaryColor: #161616;
    --secondaryColor: #313131;
    --mainColor: #db20e5;
}

body{
    background-color: var(--primaryColor);
}